name: Pull Request CI

on:
  pull_request:

jobs:
#  lint:
#    name: Lint
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v4
#      - name: Set up Node.js
#        uses: actions/setup-node@v4
#        with:
#          node-version: '20'
#      - name: Install frontend dependencies
#        working-directory: ./frontend
#        run: npm install
#      - name: Lint frontend
#        working-directory: ./frontend
#        run: npm run lint

  unit-test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install frontend dependencies
        working-directory: ./frontend
        run: npm install
      - name: Run frontend unit tests
        working-directory: ./frontend
        run: npm run test
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Make mvnw executable
        run: chmod +x backend/main/mvnw
      - name: Run backend unit tests
        working-directory: ./backend/main
        run: ./mvnw test

  e2e-test:
    name: E2E Tests
    runs-on: ubuntu-latest
    environment: staging
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install frontend dependencies
        working-directory: ./frontend
        run: npm install
      - name: Install Playwright browsers
        working-directory: ./frontend
        run: npx playwright install --with-deps chromium
      - name: Replace environment variables in staging
        run: |
          echo "Current directory: $(pwd)"
          echo "Listing files in root:"
          ls -l
          echo "---"
          sed -i 's|__SUPABASE_URL__|${{ secrets.STAGING_SUPABASE_URL }}|g' frontend/src/environments/environment.staging.ts
          sed -i 's|__SUPABASE_KEY__|${{ secrets.STAGING_SUPABASE_KEY }}|g' frontend/src/environments/environment.staging.ts
          sed -i 's|__E2E_USERNAME__|${{ secrets.STAGING_E2E_USERNAME }}|g' frontend/src/environments/environment.staging.ts
          sed -i 's|__E2E_PASSWORD__|${{ secrets.STAGING_E2E_PASSWORD }}|g' frontend/src/environments/environment.staging.ts
      - name: Run e2e tests
        working-directory: ./frontend
        run: npm run test:e2e